* {
    font-family: Montserrat;
  }

h1 {
    text-align: center;
}

h2, h3, h4 {
    text-align: left;
    color: black;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: black;
}

span {
    font-weight: bold;
}

small {
    font-weight: bold;
    float: left;
    color: rgb(214, 26, 26);
}

.border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px #126619; */
    box-shadow: 1px 1px 5px;
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}

.pull-center {
    text-align: center;
}

.padre {
    height: 100px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorPadre {
    position: relative;
}

#contenedorHijo {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: black;
}

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}

.success {
    background-color: #04AA6D;
    font-weight: bold;
    border-radius: 5px;
} 

.info { 
    background-color: #2196F3;
    font-weight: bold;
} 

.warning { 
    background-color: #ff9800;
    font-weight: bold;
}

.danger {
    background-color: #f44336;
    font-weight: bold;
}

.other { 
    background-color: #e7e7e7;
    color: black;
    font-weight: bold;
}

.pointer {
    cursor:pointer;
}

.icon-size-s {
    width: 20px;
    height: 20px;
}

.icon-size-m {
    width: 40px;
    height: 40px;
}

.icon-size-l {
    width: 60px;
    height: 60px;
}

.text-color-red {
    color: red;
}

.text-color-primary {
    color: #0d6efd;
}

.b-sidebar {
    border-right-width: 200px;
} 

.menu-title, .menu-item {
    color: white;
}

.input-border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    margin-bottom: 8px;
    padding: 3px;
}

input[type='file'] {
    /* color: transparent; */
    color: #0d6efd
 }

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom-double {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-top-double {
    margin-top: 20px;
}

.margin-bottom-none {
    margin-bottom: 0px;
}

.icon-green {
    color: green;
}

.icon-yellow {
    color: blue;
}

.sombreado {
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.sombreado:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.link {
    color: rgba(0, 102, 255, 0.733);
    cursor: pointer;
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    padding: 10px 20px;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar-end {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.icon {
    font-size: 20px;
}

.home-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 304px;
    display: inline-block;
    overflow: hidden;
}

.shop-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 289px;
    display: inline-block;
    overflow: hidden;
}
  
.home-product-card img, .shop-product-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in-out;
}

.home-product-card img:hover, .shop-product-card img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 10px;
}

.custom-control-input {
    margin-right: 7px;
}

.d-none {
    visibility: hidden;
}

/* Dropdown */
/* Estilos para el scroll en el dropdown */
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.dropdown-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #eeeeee !important;
}

/* Estilos para personalizar el scroll */
.search-dropdown::-webkit-scrollbar {
    width: 8px;
}

.search-dropdown::-webkit-scrollbar-track {
    background: #eeeeee;
}

.search-dropdown::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 4px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-container {
    position: relative;
    display: inline-block;
}

.no-results {
    margin-top: 8px;
    color: #777;
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.close-results {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
}

.sidebar {
    height: 100vh; /* Altura del sidebar igual a la altura de la ventana */
    width: 200px;
    background-color: #333;
    color: white;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Agregar desplazamiento si el contenido excede la altura */
  }

/* .sidebar {
    width: 300px;
    background-color: #333;
    color: white;
    transition: width 0.3s;
  } */
  
  .collapsed {
    width: 50px; /* Cambia el ancho cuando el sidebar está contraído */
  }
  
  .icon-list {
    padding: 5px;
  }
  
  .menu-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #444;
  }
  
  .show-childs {
    background-color: #444;
  }
  
  .child-items {
    padding-left: 20px;
    display: none;
  }
  
  .show-childs .child-items {
    display: block;
  }