@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    font-family: Montserrat;
}

h1 {
    text-align: center;
}

h2, h3, h4 {
    text-align: left;
    color: black;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: black;
}

span {
    font-weight: bold;
}

small {
    font-weight: bold;
    float: left;
    color: rgb(214, 26, 26);
}

.text-normal {
    font-weight: normal;
}

.border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px #126619; */
    box-shadow: 1px 1px 5px;
    padding: 8px;
}

.border-primary {
    border: 2px solid #8C08B9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}

.pull-center {
    text-align: center;
}

.padre {
    height: 100px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorPadre {
    position: relative;
}

#contenedorHijo {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: black;
}

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}

.success {
    background-color: #04AA6D;
    font-weight: bold;
    border-radius: 5px;
} 

.info { 
    background-color: #2196F3;
    font-weight: bold;
} 

.warning { 
    background-color: #ff9800;
    font-weight: bold;
}

.danger {
    background-color: #f44336;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.other { 
    background-color: #e7e7e7;
    color: black;
    font-weight: bold;
}

.text-color-yellow {
    color: yellow;
    font-weight: 300;
}

.text-color-custom-yellow {
    color: rgba(206, 120, 9, 0.836);
    font-weight: 300;
}

.pointer {
    cursor: pointer;
}

.icon-size-s {
    width: 20px;
    height: 20px;
}

.icon-size-m {
    width: 40px;
    height: 40px;
}

.icon-size-l {
    width: 60px;
    height: 60px;
}

.text-color-red {
    color: red;
}

.background-primary {
    background-color: #8C08B9;
    border-radius: 15px;
    color: white;
}

.text-color-primary {
    color: #8C08B9;
}

.icon-border {
    border: 2px solid #8C08B9;
    border-radius: 15px;
    padding: 3px;
}

.person-icon-border {
    border: 2px solid;
    border-radius: 30px;
    padding: 3px;
}

.b-sidebar {
    border-right-width: 200px;
} 

.menu-title, .menu-item, .text-white {
    color: white;
}

.input-border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    margin-bottom: 8px;
    padding: 3px;
}

input[type='file'] {
    /* color: transparent; */
    color: #8C08B9
}

.item-menu {

}

.item-menu:hover {
    border-radius: 10px;
    background-color: #84aae498;
    margin: 0px 0px 0px 1px;
}

.margin-bottom-half {
    margin-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom-double {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 10px;
}

.margin-top-half {
    margin-top: 5px;
}

.margin-top-double {
    margin-top: 20px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-left-double {
    margin-left: 20px;
}

.margin-left-triple {
    margin-left: 30px;
}

.margin-bottom-none {
    margin-bottom: 0px;
}

.margin-none {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.padding-left {
    padding-left: 2px;
}

.padding-left-double {
    padding-left: 6px;
}

.icon-green {
    color: green;
}

.icon-blue {
    color: blue;
}

.sombreado {
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.sombreado:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.link {
    color: rgba(0, 102, 255, 0.733);
    cursor: pointer;
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C08B9;
    padding: 10px 20px;
}

.navbar-logo {
    width: 20px;
    height: auto;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-end {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 20px;
}

.my-profile-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 249px;
    display: inline-block;
}

.home-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 304px;
    display: inline-block;
}

.shop-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 289px;
    display: inline-block;
    overflow: hidden;
}
  
.home-product-card img, .shop-product-card, .my-profile-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in-out;
}

.home-product-card img:hover, .shop-product-card img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 10px;
}

.custom-control-input {
    margin-right: 7px;
}

.d-none {
    visibility: hidden;
}

/* Dropdown */
/* Estilos para el scroll en el dropdown */
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.dropdown-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #eeeeee !important;
}

/* Estilos para personalizar el scroll */
.search-dropdown::-webkit-scrollbar {
    width: 8px;
}

.search-dropdown::-webkit-scrollbar-track {
    background: #eeeeee;
}

.search-dropdown::-webkit-scrollbar-thumb {
    background: #8C08B9;
    border-radius: 4px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-container {
    position: relative;
    display: inline-block;
}

.no-results {
    margin-top: 8px;
    color: #777;
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.close-results {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
}

.sidebar {
    height: 100vh; /* Altura del sidebar igual a la altura de la ventana */
    width: 200px;
    background-color: #333;
    color: white;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Agregar desplazamiento si el contenido excede la altura */
}

/* .sidebar {
    width: 300px;
    background-color: #333;
    color: white;
    transition: width 0.3s;
  } */
  
.collapsed {
    width: 50px; /* Cambia el ancho cuando el sidebar está contraído */
}
  
.icon-list {
    padding: 5px;
}
  
.menu-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}
  
.menu-item:hover {
    background-color: #444;
}
  
.show-childs {
    background-color: #444;
}
  
.child-items {
    padding-left: 20px;
    display: none;
}
  
.show-childs .child-items {
    display: block;
}

.img-container {
    max-width: 100%;
    height: auto;
}

.vertical-line {
    border-left: 2px solid black;
    margin: 0 10px; 
}

.top-line {
    border-top: 2px solid black;
}

.block {
    display: block;    
}

.line-through {
    text-decoration: line-through;
}

.image-zoom {
    overflow: hidden;
}
  
.image-zoom img {
    transition: transform 0.3s ease-in-out;
}
  
.image-zoom:hover img {
    transform: scale(1.2); 
}

.cart-icon {
    position: relative;
    display: inline-block;
}
  
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
}

.background-white {
    background-color: #eeeeee;
}

.disabled-form input, .disabled-form textarea, .disabled-form select {
  pointer-events: none;
  background-color: #f0f0f0;
}

.custom-pencil-icon {
    font-size: 20px;
    margin-left: 10px;
}

.input-with-icon-valid {
    /* Estilos generales del input */
    /* width: 300px; /* Ancho del input */
    /* height: 40px; /* Altura del input */
    /* padding: 10px; /* Espaciado interno del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde del input */
    background-image: url('icons/check-circle.png'); /* URL del icono */
    background-size: 20px; /* Tamaño del icono */
    background-position: right 10px center; /* Posición del icono a la derecha */
    background-repeat: no-repeat; /* Evitar repetición del icono */
}

.input-with-icon-invalid {
    /* Estilos generales del input */
    /* width: 300px; /* Ancho del input */
    /* height: 40px; /* Altura del input */
    /* padding: 10px; /* Espaciado interno del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde del input */
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/search.svg'); /* URL del icono */
    background-size: 20px; /* Tamaño del icono */
    background-position: right 10px center; /* Posición del icono a la derecha */
    background-repeat: no-repeat; /* Evitar repetición del icono */
}

.icon-zoom {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.icon-zoom:hover {
    transform: scale(1.2);   
}

.navbar-item:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 2px;
    color: black;
}

.not-found {
    text-align: center;
    padding: 50px;
}

.btn-primary {
    background-color: #8C08B9; 
    border-color: #8C08B9;
}

.btn-primary:hover {
    background-color: #8d08b9b6; 
    border-color: #8d08b9b6;
}
  
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d; 
}
  
.btn-secondary:hover {
    background-color: #6c757dc2;
    border-color: #6c757dc2; 
}

.text-shadow {
    text-shadow: 1px 1px 2px;
    color: #8d08b9b6;
}

.text-color-skyblue {
    color: #0d6efd;
}

html, body, #app {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    padding: 20px 0;
}

.text-color-white {
    color: white;
}

.background-black {
    background-color: black;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}