@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    font-family: Montserrat;
}

body.light-theme {
    background-color: #fff;
    color: #000;
}
  
body.dark-theme {
    background-color: #121212;
    color: #fff;
}

.dark {
    background-color: #121212;
    color: #ffffff;
}

.card-dark {
    background-color: #121212;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.font-footer {
    font-size: 13px;
    display: block;
}

h1 {
    text-align: center;
}

h2, h3, h4 {
    text-align: left;
    color: black;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: black;
}

span {
    font-weight: bold;
}

small {
    font-weight: bold;
    float: left;
    color: rgb(214, 26, 26);
}

.text-normal {
    font-weight: normal;
}

.border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    padding: 8px;
}

.card-border-primary {
    position: relative;
    border-radius: 7px;
    background: white; 
    z-index: 1; 
}
  
.card-border-primary::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 2px; 
    border-radius: 7px;
    background: linear-gradient(to right, #8C08B9, #4A3D7E);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1; 
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}

.pull-center {
    text-align: center;
}

#app {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: black;
}

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}

.success {
    background-color: #04AA6D;
    font-weight: bold;
    border-radius: 5px;
} 

.info { 
    background-color: #2196F3;
    font-weight: bold;
} 

.warning { 
    background-color: #ff9800;
    font-weight: bold;
}

.danger {
    background-color: #f44336;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.other { 
    background-color: #e7e7e7;
    color: black;
    font-weight: bold;
}

.text-color-yellow {
    color: yellow;
    font-weight: 300;
}

.text-color-custom-yellow {
    color: rgba(206, 120, 9, 0.836);
    font-weight: 300;
}

.pointer {
    cursor: pointer;
}

.icon-size-s {
    width: 20px;
    height: 20px;
}

.icon-size-m {
    width: 40px;
    height: 40px;
}

.icon-size-l {
    width: 60px;
    height: 60px;
}

.text-color-red {
    color: red;
}

.background-primary {
    background-color: #8C08B9;
    border-radius: 15px;
    color: white;
}

.text-color-primary {
    color: #8C08B9;
}

.icon-border {
    border: 2px solid #8C08B9;
    border-radius: 15px;
    padding: 3px;
}

.person-icon-border {
    border: 2px solid;
    border-radius: 30px;
    padding: 3px;
}

.b-sidebar {
    border-right-width: 200px;
} 

.menu-title, .menu-item, .text-white {
    color: white;
}

.input-border-shadow {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    margin-bottom: 8px;
    padding: 3px;
}

input[type='file'] {
    /* color: transparent; */
    color: #8C08B9
}

.item-menu:hover {
    border-radius: 10px;
    background-color: #84aae498;
    margin: 0px 0px 0px 1px;
}

.margin-bottom-half {
    margin-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom-double {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 10px;
}

.margin-top-half {
    margin-top: 5px;
}

.margin-top-double {
    margin-top: 20px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-left-double {
    margin-left: 20px;
}

.margin-left-triple {
    margin-left: 30px;
}

.margin-bottom-none {
    margin-bottom: 0px;
}

.margin-none {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.padding-left {
    padding-left: 2px;
}

.padding-left-double {
    padding-left: 6px;
}

.icon-green {
    color: green;
}

.icon-blue {
    color: blue;
}

.sombreado {
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.sombreado:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.link {
    color: rgba(0, 102, 255, 0.733);
    cursor: pointer;
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C08B9;
    background-image: linear-gradient(to right, #8C08B9, #4A3D7E);
    padding: 10px 20px;
}

.navbar-logo {
    width: 20px;
    height: auto;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-end {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 20px;
}

.my-profile-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 249px;
    display: inline-block;
}

.home-product-card {
    border: 2px solid #8C08B9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 303px;
    display: inline-block;
}

.shop-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 289px;
    display: inline-block;
    overflow: hidden;
}
  
.home-product-card img, .shop-product-card, .my-profile-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in-out;
}

.home-product-card img:hover, .shop-product-card img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 10px;
}

.custom-control-input {
    margin-right: 7px;
}

.d-none {
    visibility: hidden;
}

/* Dropdown */
/* Estilos para el scroll en el dropdown */
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.dropdown-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #eeeeee !important;
}

/* Estilos para personalizar el scroll */
.search-dropdown::-webkit-scrollbar {
    width: 8px;
}

.search-dropdown::-webkit-scrollbar-track {
    background: #eeeeee;
}

.search-dropdown::-webkit-scrollbar-thumb {
    background: #8C08B9;
    border-radius: 4px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-container {
    position: relative;
    display: inline-block;
}

.no-results {
    margin-top: 8px;
    color: #777;
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.close-results {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
}

.sidebar {
    height: 100vh; /* Altura del sidebar igual a la altura de la ventana */
    width: 200px;
    background-color: #333;
    color: white;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Agregar desplazamiento si el contenido excede la altura */
}

/* .sidebar {
    width: 300px;
    background-color: #333;
    color: white;
    transition: width 0.3s;
  } */
  
.collapsed {
    width: 50px; /* Cambia el ancho cuando el sidebar está contraído */
}
  
.icon-list {
    padding: 5px;
}
  
.menu-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}
  
.menu-item:hover {
    background-color: #444;
}
  
.show-childs {
    background-color: #444;
}
  
.child-items {
    padding-left: 20px;
    display: none;
}
  
.show-childs .child-items {
    display: block;
}

.img-container {
    max-width: 100%;
    height: auto;
}

.vertical-line {
    border-left: 2px solid black;
    margin: 0 10px; 
}

.top-line {
    border-top: 2px solid black;
}

.line-through {
    text-decoration: line-through;
}

.image-zoom {
    overflow: hidden;
}
  
.image-zoom img {
    transition: transform 0.3s ease-in-out;
}
  
.image-zoom:hover img {
    transform: scale(1.2); 
}

.cart-icon {
    position: relative;
    display: inline-block;
}
  
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
}

.background-white {
    background-color: #eeeeee;
}

.disabled-form input, .disabled-form textarea, .disabled-form select {
  pointer-events: none;
  background-color: #f0f0f0;
}

.custom-pencil-icon {
    font-size: 20px;
    margin-left: 10px;
}

.input-with-icon-valid {
    /* Estilos generales del input */
    /* width: 300px; /* Ancho del input */
    /* height: 40px; /* Altura del input */
    /* padding: 10px; /* Espaciado interno del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde del input */
    background-image: url('icons/check-circle.png'); /* URL del icono */
    background-size: 20px; /* Tamaño del icono */
    background-position: right 10px center; /* Posición del icono a la derecha */
    background-repeat: no-repeat; /* Evitar repetición del icono */
}

.input-with-icon-invalid {
    /* Estilos generales del input */
    /* width: 300px; /* Ancho del input */
    /* height: 40px; /* Altura del input */
    /* padding: 10px; /* Espaciado interno del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde del input */
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/search.svg'); /* URL del icono */
    background-size: 20px; /* Tamaño del icono */
    background-position: right 10px center; /* Posición del icono a la derecha */
    background-repeat: no-repeat; /* Evitar repetición del icono */
}

.icon-zoom {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.icon-zoom:hover {
    transform: scale(1.2);   
}

.navbar-item:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 2px;
    color: black;
}

.not-found {
    text-align: center;
    padding: 50px;
}

.btn-primary {
    background-color: #8C08B9;
    color: white;
    border-color: #8C08B9;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #8d08b9b6; 
    border-color: #8d08b9b6;
}
  
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d; 
}
  
.btn-secondary:hover {
    background-color: #6c757dc2;
    border-color: #6c757dc2; 
}

.text-shadow {
    text-shadow: 1px 1px 2px;
    color: #8d08b9b6;
}

.text-color-skyblue {
    color: #0d6efd;
}

html, body, #app {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer {
    padding: 20px 0;
    margin: 20px 0 0 0;
}

.text-color-white {
    color: white;
    user-select: none;
}

.background-black {
    background-color: black;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(31px);
}
  
.switch-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 18px;
    color: #fff;
}

.ml-auto {
    margin-left: auto;
}

.badge-primary {
    background-color: #8C08B9;
    background-image: linear-gradient(to right, #8C08B9, #4A3D7E);
    user-select: none;
}

.badge-secondary {
    background-color: #8d08b963;
    background-image: linear-gradient(to right, #8d08b963 rgba(205, 146, 228, 0.452)7E);
    user-select: none;
}

.text-color-black {
    color: black;
}

.table-success {
    color: #8C08B9;   
}

.input-group-text {
    border-left: 0;
    background-color: white;
}

.input-group .form-control {
    border-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.color-yellow {
    color: black;
    background-color: yellow;
    font-weight: 300;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;
}

/* Circular Menu Styles */
.indexes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 20px;
    width: 100%;
}

.circular-menu {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #8d08b963;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circular-menu-item {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #8C08B9;
    background-image: linear-gradient(to right, #8C08B9, #4A3D7E);
    box-shadow: 1px 1px 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
  
.circular-menu-item:hover {
    transform: scale(1.1);
}
  
.circular-menu-top {
    top: -40px;
    left: 60px;
}
  
.circular-menu-right {
    top: 60px;
    left: 160px;
}
  
.circular-menu-bottom {
    top: 160px;
    left: 60px;
}
  
.circular-menu-left {
    top: 60px;
    left: -40px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s;
}
  
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0.15;
}

.copyright-link-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
  
.copyright-link-item {
    text-decoration: none;
    color: inherit;
}

.card-border-shadow {
    border: 2px solid #8C08B9;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    padding: 8px;
}